.input {
  position: relative;
}

.input__error {
  color: #EE3465;
  border-bottom: 1px solid #EE3465;
}

.input__error:focus {
  color: #EE3465;
  border-bottom: 1px solid #EE3465;
}


.input__error-text {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}