.movies-card {
  width: 1140px;
  padding: 70px 70px 80px 70px;
}

.movies-card__list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  column-gap: 20px;
  row-gap: 38px;
}

.movies-card__button-more {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 6px;
  background-color: #2F2F2F;
  margin: 65px 0 0 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}