.entry-form {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  width: 396px;
  margin: 70px auto 0 auto;
  padding: 0 0 70px 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form {
    margin-top: 232px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .entry-form {
    width: calc(100% - 60px);
    align-items: center;
    margin-top: 56px;
  }
}

.entry-form__logo {
  width: 38px;
  height: 38px;
  background-image: url("../../images/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.entry-form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .entry-form__title {
    margin-top: 50px;
  }
}

.entry-form__form {
  width: 100%;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .entry-form__form {
    margin-top: 56px;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form__form-input {
    margin-top: 20px;
  }
}


.entry-form__form-button {
  width: 100%;
  background-color: #4285F4;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 45px;
  padding: 0;
  margin-top: 152px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form__form-button {
    margin-top: 155px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .entry-form__form-button {
    margin-top: 240px;
    font-size: 12px;
    line-height: 15px;
  }
}

.entry-form__form-button_login {
  margin-top: 221px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form__form-button_login {
    margin-top: 223px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .entry-form__form-button_login {
    margin-top: 309px;
  }
}

.entry-form__switch {
  color: #8B8B8B;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .entry-form__switch {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}

.entry-form__switch-link {
  color: #4285F4;
  text-decoration: none;
  text-align: center;
  margin-left: 6px;
}

.entry-form__form-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #424242;
  margin: 24px 0 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form__form-item {
    margin-top: 16px;
  }
}

.entry-form__form-input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  margin: 17px 0 0 0;
  background-color: transparent;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form__form-input {
    margin-top: 24px;
  }
}

.entry-form__form-label {
  position: absolute;
  top: 0;
  left: 0;
  color: #8B8B8B;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .entry-form__form-label {
    top: 10px;
  }
}
