.search-form {
  width: 1140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 70px 0 70px;
  position: relative;
}

.search-form__form {
  width: 1140px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #424242;
  padding-bottom: 70px;
}

.search-form__input {
  width: calc(100% - 22px);
  color: #FFFFFF;
  height: 46px;
  background: #2F2F2F;
  border-radius: 40px;
  border: none;
  outline: none;
  padding-left: 22px;
}

.search-form__button {
  width: 80px;
  height: 34px;
  background-color: #4285F4;
  border: 1px solid #000000;
  border-radius: 48px;
  background-image: url("../../images/search-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 6px;
  right: 6px;
}