.search-form {
  width: 1140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 69px 10px 70px;
  position: relative;
}

.search-form__form {
  width: 1140px;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #424242;
  padding: 0 0 70px 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
}

.search-form__input {
  width: calc(100% - 22px);
  color: #FFFFFF;
  height: 46px;
  background: #2F2F2F;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0 0 0 22px;
}

.search-form__button {
  width: 80px;
  height: 34px;
  background-color: #4285F4;
  border: 1px solid #000000;
  border-radius: 48px;
  background-image: url("../../images/search-icon.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  padding: 0;
  top: 6px;
  right: 6px;
}